*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    width: 400px;
    padding: 40px;
    background: purple;
    color: white;
}
#eye{
    cursor: pointer;
}